.scrollTopButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: transparent;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    display: none; /* Initially hidden */
    font-size: 16px;
    text-align: center center;
    transition: opacity 0.3s;
    width: 40px;
    height: 40px;
}

.scrollTopButton:hover {
    background-color: #224055;
}
