body {
	padding: 0;
	background-color: #191d20;
	color: white;
	font-family: "Montserrat Alternates", serif;
	margin: 0;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 8px;
}
.headerPageAt {
	display: none;
	text-decoration: none;
	color: #ffffff;
	background-color: #224055;
	border: 1px solid #ffffff;
	padding-left: 0;
	font-size: 20px;
	margin-right: 1rem;
	padding: 0.4rem;
	border-radius: 2rem;
	scale:1.2;
}
.headerPageTag {
	display: none;
	text-decoration: none;
	color: #ffffff;
	border: 1px solid #ffffff;
	padding-left: 0;
	font-size: 20px;
	margin-right: 1rem;
	padding: 0.4rem;
	border-radius: 2rem;
	transition-duration: 0.5s;
}

.headerPageTag:hover {
	transform: scale(1.2);
	background-color: #224055;
}

.headerContact {
	cursor: pointer;
	position: fixed;
	z-index: 100;
	left: 50%;
	transform: translateX(-50%);
}

.headerContact a {
	color:#191d20;
}

.headerContact img{
	margin-left: 3px;
	margin-right: 3px;
	transition-duration: 0.5s;
}

.headerContact img:hover {
	transform: scale(1.2);
}

.homeLink {
	text-decoration: none;
}
.textlogo {
	color:#ffffff;
	font-size: 12px;
}

.lou {
	color: #ffb9a6;
	font-weight: 600;
}

.rollingtext {
	font-size: 20px;
	font-weight: 600;
	text-align: start;
	text-transform: uppercase;
}

.rollingtext p {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	background-color: #224055;
}


.headerCover {
	background-image: url("../images/Dot Grid.png");
	background-size: auto;
	background-position: center center;
	background-repeat: no-repeat;
	width: 90%;
	margin-left: 5%;
	height: 360px;
	position: relative;
}

#floatingImg {
	position: absolute;
    width: 35px;
    height: 35px;
    pointer-events: none;
	display: none; /* Initially hidden */
	transform: translate(-50%, -50%);
}

.dotsArray {
	background-image: url("../images/Dot Grid L5.png");
	background-size: auto;
	background-position: center center;
	background-repeat: no-repeat;
	width: 90%;
	height: 40px;
	margin-top: 3rem;
	margin-left: 5%;
}

.myCharacterLeft {
	z-index: 9;
	position: absolute;
	width: 150px;
    height: 330px;
	border: 0px solid white;
	scale: 0.8;
	left: 10%;
}

.myCharacterRight {
	display: none;
	z-index: 7;
	position: absolute;
	right: 20%;
	width: 150px;
    height: 330px;
	border: 0px solid white;
	scale: 0.8;
}

.textbox2 {
	display: inline-block;
	position: relative;
	top: 2%;
	left: 80%;
	width: 190px;
    height: 60px;
    border: 2px solid #ffffff;
	border-radius: 1rem;
	padding: 0.5rem;
	background-color: #191d20;
	font-size: 15px;
}

.textbox3 {
	display: inline-block;
	position: relative;
	top: 60%;
	right: 75%;
	width: 180px;
    height: 75px;
    border: 2px solid #ffffff;
	border-radius: 1rem;
	padding: 0.5rem;
	background-color: #191d20;
	font-size: 15px;
}

.textbox3:hover {
	z-index: 11;
	background-color: #191d20aa;
	transition: ease-in-out 0.3s;
	scale:1.1;
}

.textbox2:hover {
	z-index: 11;
	background-color: #191d20aa;
	transition: ease-in-out 0.3s;
	scale:1.1;
}

.blueTexts {
	color:#8FC4D2;
}

.myCharacterL {
	position: relative;
    right: 30%;
	bottom: 50%;
	width:max-content;
	height: max-content;
	scale: 0.6;
}

.myCharacterR {
	position: relative;
    right: 60%;
	bottom: 50%;
	width:max-content;
	height: max-content;
	scale: 0.6;
}

.filterContainer {
	margin-top: 75px;
	display: flex;
	flex-wrap: wrap;
	margin-left: 5%;
	margin-right: 5%;
}

.filterContainer li {
	z-index: 10;
	list-style-type: none;
	border: 1px solid #ffffff;
	padding-left: 0;
	font-size: 15px;
	padding: 0.4rem;
	border-radius: 1rem;
	margin-left: 0.5rem;
	margin-bottom: 0.5rem;
	
}

.allProjectsCards {
	margin-left: 5%;
	width: 90vw;
	display: flex;
	flex-wrap: wrap;
}

.projectsCard {
	width: 84vw;
	height: 132vw;
	border: 1px solid #ffffff;
	border-radius: 1.5rem;
	margin-left: 0.5rem;
	margin-bottom: 0.5rem;
}

.cardTitle {
	font-weight: 600;
	font-size: 24px;
	margin-left: 5%;
	margin-top: 5%;
}

.cardSubtitle {
	font-size: 12px;
	margin: 5%;
	display: flex;
	justify-content: space-between;
}

.cardPic {
	display: flex;
	justify-content: center;
	transition: 0.3s;
}
.cardPic:hover {
	scale: 1.03;
}

.cardImg {
	border-radius: 1rem;
	width: 78vw;
}

.cardCategory {
	font-size: 12px;
	margin: 5%;
}

.cardBottom {
	display: flex;
	justify-content: space-between;
	margin: 5%;
}

.linkIcon {
	width: 50px;
	object-fit: fill;
	transition-duration: 0.5s;
}
.linkIcon:hover {
	scale: 1.2;
}

.cardTags {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 0;
}

.cardTags li {
	border: 1px solid #ffffff;
	padding-left: 0;
	font-size: 12px;
	padding: 0.4rem;
	border-radius: 1rem;
	margin-right: 0.3rem;
	margin-bottom: 0.3rem;
}

.footerContainer {
	display: flex;
	flex-direction: column;
}

.textLogoBottom {
	display:flex;
	justify-content: center;
	margin: 5px;
}

.emailBottom a {
	display:flex;
	justify-content: center;
	font-size: 12px;
	margin: 10px;
	color: #ffffff;
	transition-duration: 0.5s;
}

.footerContact {
	display:flex;
	justify-content: center;
	margin: 10px;
}

.footerContact a {
	margin-left: 3px;
	margin-right: 3px;
	transition-duration: 0.5s;
}

.footerContact a:hover {
	transform: scale(1.2);
}

.copyright {
	display:flex;
	justify-content: center;
	font-size: 12px;
	margin: 10px;
}


ul {
	list-style-type: none;
	padding-left: 0;
	display: flex;
}
	
nav ul {
	list-style-type: none;
	padding-left: 0;
	display: flex;
	
}

nav li {
	margin: 1rem;
}

nav li:first-child {
	margin-left: 0;
}
@media (max-width: 380px){
	.projectsCard {
		height: 500px;
	}
}
@media (min-width:600px) {
	.myCharacterRight {
		display: block;
	}
	.projectsCard {
		width: 42vw;
		height: 71vw;
	}
	.cardImg {
		width: 36vw;
	}
}

@media (min-width:900px) {
	.projectsCard {
		width: 28vw;
		height: 48vw;
		margin-left: 0.8rem;
	}
	.cardImg {
		width: 25vw;
	}
	.headerPageAt {
		display: inline-block;
	}
	.headerPageTag {
		display:inline-block;
	}
	.headerContact img{
		margin-left: 8px;
		margin-right: 8px;
		scale: 1.2;
	}
	.headerContact img:hover {
		transform: scale(1.4);
	}
	.folded_icon {
		display: none;
	}
	.textlogo li{
		font-size: 16px;
	}
	.myCharacterRight {
		scale: 1.1;
	}
	.myCharacterLeft {
		scale: 1.1;
		left: 15%;
	}
	.textbox2 {
		top: 20%;
		left: 95%;
	}
}

@media (min-width:1340px) {
	.myCharacterRight {
		scale: 1.2;
		right: 25%;
	}
	.myCharacterLeft {
		scale: 1.2;
		left: 25%;
	}
}